<div class="card">
  <header class="card-header">
    <p class="card-header-title is-centered is-size-4">
      Add a Ticket
    </p>
  </header>
  <div class="card-content">
    <div [formGroup]="ticketForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Title</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                formControlName="title"
                [class.is-danger]="ticketForm.controls.title.dirty && ticketForm.controls.title.invalid"
              >
            </div>
            <p
              class="help is-danger"
              *ngIf="ticketForm.controls.title.dirty && ticketForm.controls.title.invalid"
            >
              This field is required.
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Description</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea
                class="textarea"
                formControlName="description"
                [class.is-danger]="ticketForm.controls.description.dirty && ticketForm.controls.description.invalid"
              ></textarea>
              <p
                class="help is-danger"
                *ngIf="ticketForm.controls.description.dirty && ticketForm.controls.description.invalid"
              >
                This field is required.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Status</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select formControlName="status">
                  <option selected disabled>--------</option>
                  <option *ngFor="let i of statusOptions" [ngValue]="i">{{ i }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Department</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select formControlName="department">
                  <option selected disabled>--------</option>
                  <option *ngFor="let i of departmentOptions" [ngValue]="i">{{ i }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <button class="button is-success is-large card-footer-item" type="submit" (click)="submitForm()" [disabled]="!ticketForm.valid">Submit Ticket</button>
  </footer>
</div>
<!-- <div class="field is-horizontal">
  <div class="field-label"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit" (click)="submitForm()" [disabled]="!ticketForm.valid">
          Submit Ticket
        </button>
      </div>
    </div>
  </div>
</div> -->


<!-- {{ ticketForm | json }} -->
